body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial";

}

* {
  margin: 0;
  box-sizing: border-box;
}


.wrapper {
  max-width: 1375px;
  width: 100%;
}

a {
  text-decoration: none;
}

.hamburger {
  @media (max-width: 550px) {
    padding: 0 !important;

  }
}
